<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ads</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@600&family=Montserrat:ital@0;1&display=swap');
    </style>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <form method="POST" action="/funcionario">  
    <header >
    </header>

    <main class="tela__login">
        <section>
            <img class="imagem__login" src="/img/cadastro.jpg">
        </section>
        <section>
            <div class="cadastro">
                <h1 class="titulo__cadastro">Cadastro</h1>  

            <div class="linha">
                <label class="nome__campo">Nome </label>
                <input class="campo" type="text" name="nome">
            </div>

            <div class="linha">
                <label class="nome__campo">CPF </label>
                <input class="campo" type="text" name="cpf">
            </div>

            <div class="linha">
                <label class="nome__campo">Login </label>
                <input class="campo" type="text" name="login">
            </div>

            <div class="linha">
                <label class="nome__campo">Senha </label>
                <input class="campo" type="text" name="senha">
            </div>
            
            <button class="botao" type="submit">
                <div class="nome__botao">Cadastrar</div>
            </button>
            
        </section>
    </main>

    <footer>
    </footer>
    </form>
</body>
</html>
