<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ads</title>
</head>

<body>
    <form method="POST" action="/cargo">  
    <header >
    </header>

    <main>
                <label>Cargo:  </label>
                <input type="text" name="profissao">
    
                <label>Descrição: </label>
                <input type="text" name="descricao">
            </div>
            
            <button type="submit">Cadastrar</button>
            
        </section>
    </main>

    <footer>
    </footer>
    </form>
</body>
</html>
