<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Funcionário</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@600&family=Montserrat:ital@0;1&display=swap');
    </style>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="shortcut icon" href="/img/icon.png">
</head>
<body>
    <form method="POST" action="/login">
        <header>
      
        </header>

        <main class="tela__login">
            <section>
                <img class="imagem__login" src="/img/login.jpg">
            </section>

            <section>
                <div class="cadastro">
                    <h1 class="titulo__cadastro">Login Funcionário</h1>

                    <div class="linha">
                        <label class="nome__campo">Login</label>
                        <input class="campo" type="text" name="login" required>
                    </div>
    
                    <div class="linha">
                        <label class="nome__campo">Senha</label>
                        <input class="campo" type="password" name="senha" required>
                    </div>
    
                    <button class="botao" type="submit">
                        <div class="nome__botao">Entrar</div>
                    </button>
                </div>
                
            </section>
        </main>

        <footer>
        
        </footer>
    </form>
</body>
</html>
